@use "../../../scss/variables";

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    min-height: 680px;
}

.content {
    width: calc(100% - variables.$sidebar);
    height: 100%;
    margin-left: variables.$sidebar;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    padding: 20px 24px;
    background-color: #141517;
}